<span *ngIf="task">
   <div class="container p-3 border-light">
      <div class="row">
         <div class="col-md-6">
            <h2>{{task.name}}</h2>
         </div>
         <div class="col-md-6 text-center pe-2 fw-bold pt-2">
            <p>Task ID : {{task.id}}</p>
         </div>
         <div class="row">
            <h5>Due by {{task.deadline | date}}</h5>
         </div>




         <div class="row border-bottom pt-1 pb-2">
            <div class="col-md-3 rounded-2 text-white text-center ">
               <h5 class="text-white rounded-2 p-2"
                  [ngClass]="task.state==3 ? 'bg-success' : task.state==2 ? 'bg-warning' : 'bg-danger'"
                  style="white-space: nowrap;">{{getTaskStateString(task.state)}}</h5>
            </div>
            <div class="col-md-9 text-end">
               <h5 *ngIf="task.state!=1">Assigned to {{task.developerId}}</h5>
               <div *ngIf="task.state==1">
                  <button class="btn fw-bold btn-light">Assign</button>

               </div>
            </div>


         </div>
         <div class="row pt-3">
            <h5>{{task.description}}</h5>
         </div>









      </div>
   </div>

</span>
<span *ngIf="!task">
   <div class="d-flex flex-column min-vh-100 justify-content-center align-items-center">
      <h3>Select a task</h3>
      <p>Or add a new one</p>
      <button class="btn btn-primary">Add task</button>
   </div>
</span>