<div class=" p-5 mt-5 fill ">
   <h1 class="">New Task</h1>

   <form action="" class=" form">
      <div class="row p-3">
         <label for="">Name</label>
         <input type="text" class=" rounded-2 form-text">
      </div>
      <div class="row p-3">
         <label for="">Description</label>
         <input type="text" class="rounded-2 form-text">
      </div>
      <div class="row p-3">
         <label for="">Deadline</label>
         <input type="date" class="rounded-2 form-text">
      </div>

   </form>

   <div class="row p-3 text-center  ">
      <button class="btn btn-primary">Create</button>
   </div>


</div>