<div class="">
   <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand ms-4 me-4 display-6 fw-bold" href="#"><span class=" text-primary fw-bold"> &lt;/&gt; </span>PMP</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a *ngIf="!isLogged()" class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
          <a *ngIf="loggedIn" class="nav-item nav-link" href="/projects">Projects</a>
          <a *ngIf="!isLogged()" class="nav-item nav-link justify-content-end" href="/login">Login</a>
          <a *ngIf="!loggedIn" class="nav-item nav-link justify-content-end" href="/register">Register</a>
          <a *ngIf="loggedIn" (click)="Logout()" class="nav-item nav-link justify-content-end" href="/register">Logout</a>
        </div>
      </div>
    </nav>
</div>
