
<div class="container w-50 p-5 bg-light rounded-5 mt-5">
   <h1 class="text-center">Login</h1>

   <form action="" class=" form-control-lg ">
      <div class="row p-3">
         <label for="">Username</label>
         <input type="text" class=" rounded-2 form-text">
      </div>
      <div class="row p-3">
         <label for="">Password</label>
         <input type="password" class="rounded-2 form-text">
      </div>
   </form>

   <div class="row p-3">
      <button class="btn btn-primary">Login</button>
   </div>

   <div class="row text-center mt-4">
      <a href="/register">
         <p>Still don't have an account?</p>
         <br>
      </a>
   </div>

</div>