<div class="container-fluid w-50 p-5 bg-light rounded-5 mt-5">
   <h1 class="text-center">{{ 'Register' | translate}}</h1>

   <div class="btn-group w-100 mt-4" role="group">
      <button class="btn" [ngClass]="accountType=='manager' ? 'btn-primary' : 'btn-outline-primary'"
         (click)="changeAccountType()">{{ 'Manager' | translate}}</button>
      <button class="btn" [ngClass]="accountType=='developer' ? 'btn-primary' : 'btn-outline-primary'"
         (click)="changeAccountType()"> {{ 'Developer' | translate}}</button>


   </div>


   <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class=" form-control-lg">
      <div class="row p-2">
         
         <label for="">{{'FirstName' | translate}}</label>
         
         <input formControlName="firstName" type="text" class=" rounded-2 form-text">
      </div>
      <div class="row p-2">
         <label for="">{{'LastName' | translate}}</label>
         
         <input formControlName="lastName" type="text" class=" rounded-2 form-text">
      </div>
      <div class="row p-2">
         <label for="">Email</label>
         <input formControlName="email" type="email" class="rounded-2 form-text">
      </div>
      <div class="row p-2">
         <label for="">{{'Password' | translate}}</label>
         <input formControlName="password" type="password" class="rounded-2 form-text">
      </div>
      <div class="row p-2">
         <label for="">{{'ConfirmPassword' | translate}}</label>
         <input formControlName="confirmedPassword" type="password" class="rounded-2 form-text">
      </div>
      <div class="row p-2">
         <button type="submit" class="btn btn-primary">{{ 'Register' | translate}}</button>
      </div>
   </form>



   <div class="row text-center mt-4">
      <a href="/login">
         <p>{{ 'AlreadyHaveAccountMessage' | translate}}</p>
         <br>
      </a>
   </div>

</div>