<body class="text-center">
   <div class="cover-container w-100 h-100 p-3 align-self-center">
      <main role="main" class="inner cover">
         <h1 class="cover-heading display-1">PMP</h1>
         <h1 class="cover-heading display-1"><span class=" text-primary "> &lt;/&gt; </span></h1>
         <h3 class="display-6 p-2">Your project management platform.</h3>
         <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the
            text, and add your own fullscreen background photo to make it your own.</p>
         <p class="lead">
            <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
         </p>
      </main>
   </div>


</body>