<div class="row text-center m-3">
  <h1>Projects</h1>
</div>

<div class="container-fluid" style="width:90%;">
  <hr>
  <div class="row row-cols-1 row-cols-md-2 mt-4">
    <div class="col mb-4" *ngFor="let project of activeProjects">
      <div class="card m-2 shadow rounded-4">
        <a href="/projects/{{project.id}}" class=" stretched-link"></a>
        <div class="card-header bg-primary rounded-top-4">

        </div>
        <div class="card-body">
          <h5 class="card-title fw-bold">{{project.name}}</h5>
          <div class="card-text">


            <div *ngIf="project.tasks.length == 0" class="row fst-italic">
              <div class="">
                This project has no tasks assigned yet.
              </div>
            </div>


            <div *ngIf="project.tasks.length > 0" class="row">
              <p class=" fst-italic ">Upcoming Tasks</p>
              <div class="col-md-4 fw-semibold">
                Task
              </div>
              <div class="col-md-3 text-center fw-semibold">
                State
              </div>
              <div class="col-md-4 text-end fw-semibold">
                Deadline
              </div>
            </div>
            <div class="row mt-2" *ngFor="let task of project.tasks">
              <div class="col-md-4">
                {{task.name}}
              </div>
              <div class="col-md-3 text-center">
                <i *ngIf="task.state==1" class="bi bi-person-x-fill" style="color: red;"></i>
                <i *ngIf="task.state==2" class="bi bi-hourglass-split" style="color: orange;"></i>
                <i *ngIf="task.state==3" class="bi bi-check-circle-fill" style="color: green;"></i>

              </div>
              <div class="col-md-4 text-end">
                {{task.deadline | date: 'dd/MM'}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="text-center mb-5 mt-3">
      <button class="btn btn-primary fw-bold p-3 w-50 shadow">New Project</button>
    </div>

  </div>

</div>