
<div class="app_page1">
   <div class="row">
       <div class="col-sm-4" id="left">
         <div class="row bg-light">
            <h4>Your projects</h4>
         </div>


         <div class="list-group list-group-flush">
            <a *ngFor="let project of projects"
            [ngClass]="(activeProject?.id === project.id) ? 'active' : ''"
            class="list-group-item list-group-item-action py-3 lh-sm rounded-4 mt-3 shadow p-3 mb-2 " 
            href="#" onclick="return false;"
            (click) = 'setActiveProject(project.id)'>
              <div class="d-flex w-100 align-items-center justify-content-between">
                <strong class="mb-1">{{project.name}}</strong>
                <small>{{project.id}}</small>
              </div>
              <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the project name.</div>
            </a>
          </div>
       </div>
       <div class="col-sm-4" id="right">
         <app-project-details [project]="activeProject"></app-project-details>
           
       </div>
   </div>
 </div>
