<body>
   <br>
   <br>
   <br>
   <br>
   <br>
   <div class="d-flex align-items-center justify-content-center mt-5">
      
       <div class="text-center">
           <h1 class="display-1 fw-bold">404</h1>
           <p class="fs-3"> <span class="text-danger">Oops!</span> Page not found</p>
           <p class="lead">
               Looks like you've followed a broken link or entered a URL that doesn't exist on this site.
             </p>
           <a href="/" class="btn btn-primary">Go Home</a>
       </div>
   </div>
</body>

